@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

.label {
  @apply font-semibold;
}

.box__shadow__nav {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.box__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-error {
  @apply text-white;
}
